*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
header {
    width:100vw;
    height: 100vh;
    background-color: cyan;
}
.developer {
    text-align:center;
    margin-height: 10px;
    padding-top:10px;
}

.socialLinks li{
    display: inline-block;
}
.socialLinks ul {
    text-align:center;
    margin-top:40px;
}
